{% extends "padre.html" %}
{% load static %}
Crear Cuenta
{% block title %}
{% endblock title %}
    

{% block body %}

<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Blog Informativo</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Un blog que te informa de las últimas novedades del país.</h2>
                <a class="btn btn-primary" href="#about">Informate ahora!</a>
            </div>
        </div>
    </div>
</header>

{% endblock body %}
