{% extends "padre.html" %}
{% load static %}
Nosotros
{% block title %}
{% endblock title %}
    

{% block body %}
<header class="masthead">
    <div class="container px-5 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Blog Informativo</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">¡Bienvenidos a nuestro blog de noticias tecnológicas!

                    Aquí encontrarás información actualizada y relevante sobre el mundo de la tecnología, escrito por periodistas y expertos en el campo. Te mantendremos al tanto de los últimos avances, lanzamientos y tendencias en el ámbito tecnológico. Nuestro objetivo es brindarte contenido de calidad y análisis experto para que estés informado y tomes decisiones informadas. Valoramos tu participación y queremos fomentar un diálogo abierto con nuestra comunidad. Únete a nosotros en esta emocionante aventura y descubre todo lo que sucede en el fascinante mundo de la tecnología. ¡No te pierdas nuestras noticias!</h2>
            
            </div>
        </div>
    </div>
</header>

{% endblock body %}
