{% extends "padre.html" %}
{% load static %}
Crear Cuenta
{% block title %}
{% endblock title %}
    

{% block body %}

<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h3 class="mx-auto my-0 text-uppercase">Inscribete como escritor!</h3>
    
                <form method="post">{% csrf_token %}
                    <p>Nombre: <input type="text" name="nombre"></p>
                    <p>Apellido: <input type="text" name="apellido"></p>
                    <p>Usuario: <input type="text" name="usuario"></p>
                    <p>Contraseña: <input type="text" name="contraseña"> </p>
                    <p>Profesión: <input type="text" name="profesion"> </p>
                   <input type="submit" value="enviar">
                </form>
            </div>
           
        </div>

    </div>
</header>

{% endblock body %}
